<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>This is about page</h1>
    <!--fragment insertion-->
    <div
      class="host-tag"
      th:replace="${isLogin} ? ~{base :: parent(~{::section})} : ~{base::test(~{::#not_logged_in})}"
    >
      <section >User is logged in</section>
      <section id="not_logged_in">User is not logged in</section>

    </div>
  </body>
</html>
